<p class="shop-title_kana"><%= shop.name_kana %></p>
<p class="shop-address"><%= shop.address %></p>
<p class="shop-tel"><%= shop.tel %></p>
<p class="shop-opentime"><%= shop.opentime %></p>
<p class="shop-holiday"><%= shop.holiday %></p>