<% content_for :cover do %>
  <section class="intro">
    <div class="inner">
      <div class="navbar">
        <%= render 'layouts/navbar' %>
      </div>
      <div class="login-box">
        <h1>新規登録</h1>
          <div>
            <%= form_for(@user) do |f| %>
              <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <%= f.text_field :name, placeholder: "ニックネーム" %>
              </div>
              <div class="textbox">
                <i class="fa fa-at" aria-hidden="true"></i>
                <%= f.email_field :email, placeholder: "メールアドレス" %>
              </div>
              <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <%= f.password_field :password, placeholder: "パスワード" %>
              </div>
              <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <%= f.password_field :password_confirmation, placeholder: "パスワード" %>
              </div>
              
              <div class="loginbtn">
                <%= f.submit '登録する' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>   
    </div>       
    <%= render 'layouts/footer' %>
  </section>
  
<% end %>            


    
      